* {
  box-sizing: border-box;
}
#main {
  width: 40%;
  margin-left: 20%;
  padding: 15px;
}

div,
h1 {
  border: 3px solid red;
  margin-bottom: 15px;
  padding: 5px;
}

ul {
  border: 3px solid red;
  margin-bottom: 15px;
  padding: 5px;
  margin-left: 2px;
}
li {
  border: 3px solid red;
  padding: 5px;
}

button,
a,
.div2 {
  border: 3px solid red;
  padding: 8px;
  font-weight: 500;
}
